/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* App Body */

body {
    background: #1159ff;
    font-family: 'poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* App Container */

#weather-container {
    background: #498fff;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba (0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba (255, 255, 255, 0.1);
    text-align: center;
}

h2, label, p {
    color: #fff;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

/* Button */

button {
    background-color: #97bbf4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

/* Hover Button */

button:hover {
    background: #c4d7f6;
}

/* h3 - Information Text */

h3 {
    font-family: "poppins";
    font-size: 1rem;
    color: white;
}
    

/* Temperature Div Paragraph */

#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

/* Hourly Item */

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

/* Hourly Item Image */

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

/* Hourly Heading */

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

/* RESPONSIVE - DESKTOP, LAPTOP, TABLET & MOBILE */

/* Mobile - 384px */ 

@media only screen and (max-width: 384px) {
    #weather-container {
    max-width: 280px;
}


/* Mobile - 360px */



/* Mobile - 320px */

@media only screen and (max-width: 320px) {
    #weather-container {
    max-width: 250px;
}
